[Unit]
Description=Odoo Open Source ERP and CRM
Requires=postgresql.service
After=network.target postgresql.service

[Service]
Type=simple
SyslogIdentifier = odoo16
PermissionsStartOnly = true
User=odoo16
Group=odoo16
ExecStart=python3 /root/odoo16/odoo-bin -c /root/odoo16/debian/odoo.conf
StandardOutput = journal+console


[Install]
WantedBy=multi-user.target

